div>pre>iframe {
        height: 70vh!important;
        width: 100%!important;
        display: block;
        margin: auto;
}
pre {
        text-align: center!important
}
[social] {
        display: flex;
        justify-content: center
}
i {
        width: 5vw !important;
        transform: scale(.5)!important;
        transition: .25s!important;
        color: white;
}
a:hover>i {
        transform: scale(1)!important
}
[home]>img {
        height: 15vh!important
}
.slides
{
        height: 100vh !important;
}