.features > li
{
	width: 30% !important;
}
pre
{
	margin: 0;
	padding: 0;
	height: 90vh;
	overflow: hidden;
}
iframe
{
	width: 100% !important;
	height: 100%;
}
section
{
	height: 100%;
}
#section-1 > div > img
{
	height: 25vh;
}
.button[href*='linkedin']
{
	border-color: dodgerblue;
	background-color: dodgerblue;
}