div>pre>iframe {
        height: 70vh !important;
        width: 100% !important;
}
pre {
        text-align: center !important;
}
[social] {
        display: flex;
        justify-content: center;
}
svg {
        height: 10vh !important;
        width: auto !important;
        transform: scale(0.5) !important;
	transition: 0.25s !important;        
}
a[href*='linkedin'] {
        background-color: dodgerblue;
}
a[href*='github'] {
        background-color: rebeccapurple;
}
svg:hover
{
	transform: scale(1) !important;
}